@model Showcase_Contactpagina.Models.Contactform
@{
    ViewData["Title"] = "Contactpagina";
}

<div class="container">
    <section class="contact-section">
        <h1>Neem contact op</h1>
        <p>@ViewBag.Message</p>
        <form method="post" class="contact-form">

            <div class="form-group">
                <label for="firstname">Voornaam</label>
                <input type="text" asp-for="FirstName" id="firstname" required>
            </div>

            <div class="form-group">
                <label for="lastname">Achternaam</label>
                <input type="text" asp-for="LastName" id="lastname" required>
            </div>

            <div class="form-group">
                <label for="email">E-mailadres</label>
                <input type="email" asp-for="Email" id="email">
            </div>

            <div class="form-group">
                <label for="phone">Telefoonnummer</label>
                <input type="tel" asp-for="Phone" id="phone">
            </div>

            <button type="submit" class="btn-submit">Verstuur</button>
        </form>
    </section>
</div>

<style>
    
</style>
