.contact-section h1 {
    text-align: center;
    color: var(--primary-color);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: var(--secondary-color)
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.form-group input {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background: var(--primary-color);
}