.page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: var(--text-color);
}

@media (max-width: 900px) {
    .page {
        grid-template-columns: 1fr;
    }
}

.personalia {
    background-color: var(--accent-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.section {
    background-color: var(--divider-color);
    width: 100%;
    border-radius: 8px;
}

.person-logo {
    border: 4px solid var(--border-color);
    border-radius: 50%;
    margin: 15px 0;
    width: 20%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: var(--primary-color);
}

.profile-content__category--hidden-mobile,
.profile-content__element--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin: 6px 0 2px;
    color: var(--highlight-color);
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: var(--primary-color);
    margin-top: 0;
    font-size: 14px;
}

@media (min-width: 800px) {
    .profile-content__category--hidden-mobile,
    .profile-content__element--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

    .profile-content__category--hidden-mobile hr {
        width: 100%;
        border-color: var(--divider-color);
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: var(--muted-text-color);
        display: flex;
    }
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    fill: var(--primary-color);
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.social-icons a:hover .social-icon {
    transform: scale(1.1);
}


.social-icons a:hover .social-icon path {
    fill: var(--secondary-color);
}

.download-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
}

.download-btn:hover {
    background-color: var(--secondary-color);
}

.download-btn:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}